// Colors
$nav-red: #f54538;
$nav-background: #070707;

/* Components */
.logo {
    font-family: 'Lobster', cursive;
    color: #fff;        
    font-size: 20px;   
    margin: 0;           
}

.logo--primary {
    background-color: $nav-red;
    border-radius: 50%;
    height: 48px;
    width: 48px;
    line-height: 48px;
    text-align: center;
    flex: 0 0 48px;
}

.nav {
    display: flex;
    justify-content: space-between;
    background-color: $nav-background;
    position: sticky;
    top: 0;
    padding: 12px 10%;
}

.nav__container {
    display: flex;
    padding: 0;
    list-style-type: none;
}

.nav__link {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    font-family: "Montserrat", sans-serif;
    padding: 8px 16px;    
    margin-left: 40px;
}

.nav__link--primary {
    background-color: $nav-red;
    border-radius: 16px;

}